nodered/nodered_config.json
[
    {
        "id": "343d439a7b165976",
        "type": "tab",
        "label": "Live_Data_Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b872fb611589867d",
        "type": "tab",
        "label": "History_Data_Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08164534147a4b42",
        "type": "tab",
        "label": "LED_Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ff40853de8bd059e",
        "type": "ui_tab",
        "name": "Wetterstation",
        "icon": "brightness_low",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c120af376e019d8f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#74a7fe",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#74a7fe",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#74a7fe",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#c0d7ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#74a7fe",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Wetterstation Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "baacf3dc723e7130",
        "type": "ui_group",
        "name": "Climate",
        "tab": "ff40853de8bd059e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "748c8b0a69c1a330",
        "type": "mqtt-broker",
        "name": "esp8266",
        "broker": "projektarbeit-mikrocomputer.canadea.ch",
        "port": "1883",
        "tls": "d8474cb4acfd8a9d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4cb1d65d82fe4205",
        "type": "ui_group",
        "name": "Chart",
        "tab": "ff40853de8bd059e",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "470e04a4.87c72c",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a7539552.a04768",
        "type": "ui_group",
        "name": "Device Management",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab94b758.4be768",
        "type": "ui_group",
        "name": "Control Output 1",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5e4e892.40d1b8",
        "type": "ui_group",
        "name": "O1 - O4 Output States",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a4c6a77ab0800365",
        "type": "ui_group",
        "name": "Licht",
        "tab": "ff40853de8bd059e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cd69bd3f5fe48ec",
        "type": "ui_group",
        "name": "ESP Info",
        "tab": "ff40853de8bd059e",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8474cb4acfd8a9d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "projektarbeit-mikrocomputer.canadea.ch",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "fa9ebf0b8460f903",
        "type": "MySQLdatabase",
        "name": "mysql",
        "host": "10.135.0.3",
        "port": "3306",
        "db": "WeatherData",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8880d363.148ac",
        "type": "ui_group",
        "name": "Thermostat demo",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a844720c.608d6",
        "type": "MySQLdatabase",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "nodered",
        "tz": ""
    },
    {
        "id": "9e271ef8.1ed8",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "c4bae040.b8a2",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "480f6c25.dd7064",
        "type": "ui_group",
        "name": "Chart Scaling",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": true
    },
    {
        "id": "c7a27394.057878",
        "type": "ui_group",
        "name": "CHART",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "110f893b.a0f1d7",
        "type": "ui_group",
        "name": "Default",
        "tab": "7179c13.0628d4",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7179c13.0628d4",
        "type": "ui_tab",
        "name": "LED Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f639c3904ead7e46",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "4cb1d65d82fe4205",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac8e42899ebd394e",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "4cb1d65d82fe4205",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ac158f642a9a140",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "2cd69bd3f5fe48ec",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "21f2dc07a8de50b2",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "2cd69bd3f5fe48ec",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "088bfae736e86b82",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "2cd69bd3f5fe48ec",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "bf97acf313ce4fc6",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "2cd69bd3f5fe48ec",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "bca02857c1fc6ad7",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "2cd69bd3f5fe48ec",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2134b64004f61af6",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "2cd69bd3f5fe48ec",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "f02a7b6595a4a066",
        "type": "ui_spacer",
        "z": "b872fb611589867d",
        "name": "spacer",
        "group": "2cd69bd3f5fe48ec",
        "order": 12,
        "width": 7,
        "height": 1
    },
    {
        "id": "d64da6be.97dca8",
        "type": "ui_group",
        "name": "Shopping",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "d237f3cad71b27a5",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "Temparatur",
        "group": "baacf3dc723e7130",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temparatur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "className": "",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "07f158e0a101d638",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "Luftfeuchtigkeit",
        "group": "baacf3dc723e7130",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "className": "",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "031a8994845bcabc",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "Luftqualität",
        "group": "baacf3dc723e7130",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftqualität",
        "label": "kOhms",
        "format": "{{value}}",
        "min": "100",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "34",
        "className": "",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "0dc5bf16065009a3",
        "type": "counter",
        "z": "343d439a7b165976",
        "name": "Last Sensor Update",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": 1,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "c87d776f679e15c9",
                "16fbd26712e5c9ac"
            ]
        ]
    },
    {
        "id": "c87d776f679e15c9",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Last Sensor update (s)",
        "label": "Last Update (s)",
        "format": "{{msg.count}}",
        "layout": "col-center",
        "className": "",
        "x": 1040,
        "y": 800,
        "wires": []
    },
    {
        "id": "e8b6978045a502aa",
        "type": "inject",
        "z": "343d439a7b165976",
        "name": "increment",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "c67c01e8d018ab92"
            ]
        ]
    },
    {
        "id": "c67c01e8d018ab92",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "increment counter",
        "func": "msg.increment = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "0dc5bf16065009a3"
            ]
        ]
    },
    {
        "id": "6f2f330371155ea6",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "reset counter on sensor update",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 580,
        "wires": [
            [
                "0dc5bf16065009a3"
            ]
        ]
    },
    {
        "id": "3692cb0330575ccf",
        "type": "mqtt in",
        "z": "343d439a7b165976",
        "name": "esp_json_data",
        "topic": "esp_json_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "748c8b0a69c1a330",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "7bf57798e8f77d56",
                "6f2f330371155ea6"
            ]
        ]
    },
    {
        "id": "7bf57798e8f77d56",
        "type": "json",
        "z": "343d439a7b165976",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "cfece79b887ca64f",
                "04f56fab1740f3f7",
                "7aeeaeb251c8c950",
                "97119f137adb74e7",
                "52bdc5fe8a1490a2",
                "f87ae8c768f1f59f",
                "3523e81d4933a221",
                "51fe21c917170492",
                "bdd5ccb3a65b0547",
                "41bc91bca8ba5005",
                "d6fb78ab9e70d24b",
                "4b0a44b19a6edbeb",
                "eecd350ed0416c45"
            ]
        ]
    },
    {
        "id": "cfece79b887ca64f",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Stationsname",
        "label": "Stationsname",
        "format": "{{msg.payload.hostname}}",
        "layout": "col-center",
        "className": "",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "04f56fab1740f3f7",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "SSID",
        "label": "Connected to SSID",
        "format": "{{msg.payload.ssid}}",
        "layout": "col-center",
        "className": "",
        "x": 990,
        "y": 680,
        "wires": []
    },
    {
        "id": "7aeeaeb251c8c950",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "ip",
        "label": "IP Address",
        "format": "{{msg.payload.ip}}",
        "layout": "col-center",
        "className": "",
        "x": 990,
        "y": 720,
        "wires": []
    },
    {
        "id": "97119f137adb74e7",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "payload.temp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temparatur",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "d237f3cad71b27a5"
            ]
        ]
    },
    {
        "id": "52bdc5fe8a1490a2",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "payload.humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luftfeuchtigkeit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "07f158e0a101d638"
            ]
        ]
    },
    {
        "id": "f87ae8c768f1f59f",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "payload.gas",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luftqualität",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 340,
        "wires": [
            [
                "031a8994845bcabc"
            ]
        ]
    },
    {
        "id": "9b6b6e7fbe2313a3",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Heap fragmentation (%)",
        "label": "",
        "format": "{{value}}%",
        "layout": "row-center",
        "className": "",
        "x": 1050,
        "y": 600,
        "wires": []
    },
    {
        "id": "f09a8a8894613abe",
        "type": "ui_chart",
        "z": "343d439a7b165976",
        "name": "Heap fragmentation (%)",
        "group": "2cd69bd3f5fe48ec",
        "order": 13,
        "width": 7,
        "height": 3,
        "label": "Heap fragmentation (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "100",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3523e81d4933a221",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "msg.payload.heap_fragm",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            [
                "9b6b6e7fbe2313a3",
                "f09a8a8894613abe"
            ]
        ]
    },
    {
        "id": "51fe21c917170492",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "msg.payload.free_heap",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 500,
        "wires": [
            [
                "e5ada84adad67649",
                "b964291aa9d7f125"
            ]
        ]
    },
    {
        "id": "e5ada84adad67649",
        "type": "ui_chart",
        "z": "343d439a7b165976",
        "name": "Free Heap (KByte)",
        "group": "2cd69bd3f5fe48ec",
        "order": 15,
        "width": 7,
        "height": 3,
        "label": "Free Heap (KByte)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "100",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b964291aa9d7f125",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Free Heap (KByte)",
        "label": "",
        "format": "{{value}} KByte",
        "layout": "row-center",
        "className": "",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "3b02f206d3432dbb",
        "type": "mysql",
        "z": "343d439a7b165976",
        "mydb": "fa9ebf0b8460f903",
        "name": "inser into mysql db",
        "x": 1210,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd5ccb3a65b0547",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "compose SQL insert messwerte",
        "func": "var data=msg.payload; //get payload\nlet query='INSERT INTO messwerte (StationName, temp, humidity, gas, presure) VALUES (\"' + data.hostname + '\",' + data.temp + ',' + data.humidity + ',' + data.gas + ',' + data.presure + ');';\nmsg.topic=query;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 80,
        "wires": [
            [
                "3b02f206d3432dbb"
            ]
        ]
    },
    {
        "id": "b2643459c8c44f92",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "WiFi Signalstärke",
        "group": "2cd69bd3f5fe48ec",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "WiFi Signalstärke",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-45",
        "max": "-120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "-70",
        "seg2": "-80",
        "className": "",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "41bc91bca8ba5005",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "msg.payload.rssi",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "RSSI",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 760,
        "wires": [
            [
                "b2643459c8c44f92"
            ]
        ]
    },
    {
        "id": "d6fb78ab9e70d24b",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "msg.payload.presure",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luftdruck",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 440,
        "wires": [
            [
                "a346e9a3a65e11b1"
            ]
        ]
    },
    {
        "id": "a346e9a3a65e11b1",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "Luftdruck",
        "group": "baacf3dc723e7130",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "Luftdruck",
        "label": "hPa",
        "format": "{{value}}",
        "min": "1070",
        "max": "320",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "740",
        "seg2": "440",
        "className": "",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "4b0a44b19a6edbeb",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "save update interval",
        "rules": [
            {
                "t": "move",
                "p": "payload.interval",
                "pt": "msg",
                "to": "mqtt_update_interval",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "16fbd26712e5c9ac",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "check if update interval exceeded",
        "func": "var last_update=msg.count;\nvar update_interval=global.get(\"mqtt_update_interval\");\nvar update_tolerance=20;\nvar warn_time=update_interval + update_tolerance;\n\nif(last_update === warn_time){\n    msg.payload='Sensor hat sein Updateinterval um ' + update_tolerance + 's überschritten';\n    return msg;\n}else{\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 920,
        "wires": [
            [
                "9a947f7673db6b10"
            ]
        ]
    },
    {
        "id": "9a947f7673db6b10",
        "type": "ui_toast",
        "z": "343d439a7b165976",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "msg.payload",
        "name": "no update alarm",
        "x": 1020,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "eecd350ed0416c45",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "compose SQL insert hw_diagnostics",
        "func": "var data=msg.payload; //get payload\nlet query='INSERT INTO hw_diagnostics (StationName, SSID, rssi, heap_fragmentation, heap_free) VALUES (\"' + data.hostname + '\",\"' + data.ssid + '\",' + data.rssi + ',' + data.heap_fragm + ',' + data.free_heap + ');';\nmsg.topic=query;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 40,
        "wires": [
            [
                "3b02f206d3432dbb"
            ]
        ]
    },
    {
        "id": "f6d784ba8d6b5d57",
        "type": "ui_chart",
        "z": "b872fb611589867d",
        "name": "",
        "group": "4cb1d65d82fe4205",
        "order": 5,
        "width": 10,
        "height": 5,
        "label": "Temparatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "100000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c2f7f7eb1eaf0f42",
        "type": "ui_chart",
        "z": "b872fb611589867d",
        "name": "",
        "group": "4cb1d65d82fe4205",
        "order": 6,
        "width": 10,
        "height": 5,
        "label": "Luftfeuchtigkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "100000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6f79858c7f3b2b27",
        "type": "ui_chart",
        "z": "b872fb611589867d",
        "name": "",
        "group": "4cb1d65d82fe4205",
        "order": 7,
        "width": 10,
        "height": 5,
        "label": "Luftqualität",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "100000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6a359c7897a80811",
        "type": "mysql",
        "z": "b872fb611589867d",
        "mydb": "fa9ebf0b8460f903",
        "name": "mysql select messwerte",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "0f8587281cba80a3",
                "c1d209496ed10a33",
                "a78498ca543a367e"
            ]
        ]
    },
    {
        "id": "9a1674061a337e96",
        "type": "inject",
        "z": "b872fb611589867d",
        "name": "get messwerte on startup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "7",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "6fda68878d88b868"
            ]
        ]
    },
    {
        "id": "0f8587281cba80a3",
        "type": "change",
        "z": "b872fb611589867d",
        "name": "compose",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t    \"series\": [\"Temparatur\"],\t    \"labels\": [\"Temparatur\"],\t    \"data\": [[payload.{\t        \"x\": timedate,\t        \"y\": temp\t    }]]\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "f6d784ba8d6b5d57"
            ]
        ]
    },
    {
        "id": "a78498ca543a367e",
        "type": "change",
        "z": "b872fb611589867d",
        "name": "compose",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t    \"series\": [\"Luftfeuchtigkeit\"],\t    \"labels\": [\"Luftfeuchtigkeit\"],\t    \"data\": [[payload.{\t        \"x\": timedate,\t        \"y\": humidity\t    }]]\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "c2f7f7eb1eaf0f42"
            ]
        ]
    },
    {
        "id": "c1d209496ed10a33",
        "type": "change",
        "z": "b872fb611589867d",
        "name": "compose",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t    \"series\": [\"Luftqualität\"],\t    \"labels\": [\"Luftqualität\"],\t    \"data\": [[payload.{\t        \"x\": timedate,\t        \"y\": gas\t    }]]\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "6f79858c7f3b2b27"
            ]
        ]
    },
    {
        "id": "db953f75bf56ecd5",
        "type": "inject",
        "z": "b872fb611589867d",
        "name": "table cleanup every 24h",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": "7",
        "topic": "delete from messwerte where timedate < now() - interval 30 DAY;",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "e8be9b49104dbd26"
            ]
        ]
    },
    {
        "id": "e8be9b49104dbd26",
        "type": "mysql",
        "z": "b872fb611589867d",
        "mydb": "fa9ebf0b8460f903",
        "name": "mysql cleanup older than 30 days",
        "x": 800,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e067a0311fc4f2f9",
        "type": "function",
        "z": "b872fb611589867d",
        "name": "compose SQL select",
        "func": "var data=msg.payload; //get payload\n\nif (msg.payload === undefined){\n    data=12;\n}\n\nlet query='SELECT * FROM messwerte WHERE timedate >= NOW() - INTERVAL ' + data + ' HOUR;'\nmsg.topic=query;\nmsg.timeframe=data;\nglobal.set(\"TimeFrame\",data);\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "6a359c7897a80811"
            ]
        ]
    },
    {
        "id": "a5e292310a70fbba",
        "type": "inject",
        "z": "b872fb611589867d",
        "name": "get messwerte on every 4 min",
        "props": [],
        "repeat": "240",
        "crontab": "",
        "once": false,
        "onceDelay": "7",
        "topic": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "6fda68878d88b868"
            ]
        ]
    },
    {
        "id": "275bb939a5e294e0",
        "type": "ui_button",
        "z": "b872fb611589867d",
        "name": "manual refresh",
        "group": "4cb1d65d82fe4205",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Graphen aktuallisieren",
        "color": "",
        "bgcolor": "#00000000",
        "className": "",
        "icon": "refresh",
        "payload": "TimeFrame",
        "payloadType": "global",
        "topic": "payload",
        "topicType": "msg",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "6fda68878d88b868"
            ]
        ]
    },
    {
        "id": "6fda68878d88b868",
        "type": "ui_dropdown",
        "z": "b872fb611589867d",
        "name": "time choser",
        "label": "Zeitraum",
        "tooltip": "",
        "place": "Zeitraum auswählen",
        "group": "4cb1d65d82fe4205",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "12 Stunden",
                "value": 12,
                "type": "num"
            },
            {
                "label": "1 Tag",
                "value": "24",
                "type": "str"
            },
            {
                "label": "3 Tage",
                "value": "72",
                "type": "str"
            },
            {
                "label": " 1 Woche",
                "value": "172",
                "type": "str"
            },
            {
                "label": "2 Wochen",
                "value": "344",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "e067a0311fc4f2f9"
            ]
        ]
    },
    {
        "id": "ef15c9a9.949c38",
        "type": "inject",
        "z": "b872fb611589867d",
        "name": "set dropdown default value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "6fda68878d88b868"
            ]
        ]
    },
    {
        "id": "0ab5d6c7ec1ae295",
        "type": "inject",
        "z": "b872fb611589867d",
        "name": "table cleanup every 24h",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": "7",
        "topic": "delete from hw_diagnostics where timedate < now() - interval 30 DAY;",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "e8be9b49104dbd26"
            ]
        ]
    },
    {
        "id": "3fdf55e415e186c5",
        "type": "ui_colour_picker",
        "z": "08164534147a4b42",
        "name": "",
        "label": "Farbe",
        "group": "110f893b.a0f1d7",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "rgb",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "46c6b5394e96a15a"
            ]
        ]
    },
    {
        "id": "46c6b5394e96a15a",
        "type": "mqtt out",
        "z": "08164534147a4b42",
        "name": "LED_Color",
        "topic": "rgb",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "748c8b0a69c1a330",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "721e09d22e27919c",
        "type": "ui_switch",
        "z": "08164534147a4b42",
        "name": "",
        "label": "Ein / Aus",
        "tooltip": "",
        "group": "110f893b.a0f1d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "f4bde5af22569acd"
            ]
        ]
    },
    {
        "id": "f4bde5af22569acd",
        "type": "mqtt out",
        "z": "08164534147a4b42",
        "name": "LED_Switch",
        "topic": "switch",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "748c8b0a69c1a330",
        "x": 620,
        "y": 240,
        "wires": []
    }
]