nodered/nodered_config.json
[
    {
        "id": "343d439a7b165976",
        "type": "tab",
        "label": "Data_Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08164534147a4b42",
        "type": "tab",
        "label": "LED_Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ff40853de8bd059e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "Home",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c120af376e019d8f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "baacf3dc723e7130",
        "type": "ui_group",
        "name": "Climate",
        "tab": "ff40853de8bd059e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "748c8b0a69c1a330",
        "type": "mqtt-broker",
        "name": "esp8266",
        "broker": "localhost",
        "port": "1883",
        "tls": "d8474cb4acfd8a9d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4cb1d65d82fe4205",
        "type": "ui_group",
        "name": "Chart",
        "tab": "ff40853de8bd059e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "470e04a4.87c72c",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "23994b37.39eb44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a7539552.a04768",
        "type": "ui_group",
        "name": "Device Management",
        "tab": "23994b37.39eb44",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab94b758.4be768",
        "type": "ui_group",
        "name": "Control Output 1",
        "tab": "23994b37.39eb44",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5e4e892.40d1b8",
        "type": "ui_group",
        "name": "O1 - O4 Output States",
        "tab": "23994b37.39eb44",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "23994b37.39eb44",
        "type": "ui_tab",
        "name": "NETIO AN30 (REST JSON)",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4c6a77ab0800365",
        "type": "ui_group",
        "name": "Licht",
        "tab": "ff40853de8bd059e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cd69bd3f5fe48ec",
        "type": "ui_group",
        "name": "ESP Info",
        "tab": "ff40853de8bd059e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8474cb4acfd8a9d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "mqtt_ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "fa9ebf0b8460f903",
        "type": "MySQLdatabase",
        "name": "mysql",
        "host": "10.135.0.3",
        "port": "3306",
        "db": "WeatherData",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8880d363.148ac",
        "type": "ui_group",
        "name": "Thermostat demo",
        "tab": "db58ad1a.e37a8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a844720c.608d6",
        "type": "MySQLdatabase",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "nodered",
        "tz": ""
    },
    {
        "id": "db58ad1a.e37a8",
        "type": "ui_tab",
        "name": "Test stuff",
        "icon": "dashboard"
    },
    {
        "id": "d237f3cad71b27a5",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "Temparatur",
        "group": "baacf3dc723e7130",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temparatur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "className": "",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "07f158e0a101d638",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "Luftfeuchtigkeit",
        "group": "baacf3dc723e7130",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "className": "",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "031a8994845bcabc",
        "type": "ui_gauge",
        "z": "343d439a7b165976",
        "name": "Luftqualität",
        "group": "baacf3dc723e7130",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftqualität",
        "label": "kOhms",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "101",
        "seg2": "250",
        "className": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "62692799ee2314ad",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "baacf3dc723e7130",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Luftdruck",
        "label": "Luftdruck (hPa)",
        "format": "{{msg.payload.sensor_presure}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "7f52d610ca9391bd",
        "type": "ui_chart",
        "z": "343d439a7b165976",
        "name": "",
        "group": "4cb1d65d82fe4205",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temparatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-5",
        "ymax": "45",
        "removeOlder": "2",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "78ea5122d9cd1a2e",
        "type": "ui_chart",
        "z": "343d439a7b165976",
        "name": "",
        "group": "4cb1d65d82fe4205",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Luftfeuchtigkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1339f35912afc8c1",
        "type": "ui_chart",
        "z": "343d439a7b165976",
        "name": "",
        "group": "4cb1d65d82fe4205",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Luftqualität",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0dc5bf16065009a3",
        "type": "counter",
        "z": "343d439a7b165976",
        "name": "Last Sensor Update",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 540,
        "y": 840,
        "wires": [
            [
                "c87d776f679e15c9"
            ]
        ]
    },
    {
        "id": "c87d776f679e15c9",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Last Sensor update (s)",
        "label": "Last Update (s)",
        "format": "{{msg.count}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "e8b6978045a502aa",
        "type": "inject",
        "z": "343d439a7b165976",
        "name": "increment",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "c67c01e8d018ab92"
            ]
        ]
    },
    {
        "id": "c67c01e8d018ab92",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "increment counter",
        "func": "msg.increment = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 840,
        "wires": [
            [
                "0dc5bf16065009a3"
            ]
        ]
    },
    {
        "id": "6f2f330371155ea6",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "reset counter on sensor update",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 640,
        "wires": [
            [
                "0dc5bf16065009a3"
            ]
        ]
    },
    {
        "id": "3692cb0330575ccf",
        "type": "mqtt in",
        "z": "343d439a7b165976",
        "name": "esp_json_data",
        "topic": "esp_json_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "748c8b0a69c1a330",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "7bf57798e8f77d56",
                "6f2f330371155ea6"
            ]
        ]
    },
    {
        "id": "7bf57798e8f77d56",
        "type": "json",
        "z": "343d439a7b165976",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "cfece79b887ca64f",
                "04f56fab1740f3f7",
                "70805cf47035597b",
                "7aeeaeb251c8c950",
                "97119f137adb74e7",
                "52bdc5fe8a1490a2",
                "f87ae8c768f1f59f",
                "3523e81d4933a221",
                "62692799ee2314ad",
                "51fe21c917170492",
                "bdd5ccb3a65b0547"
            ]
        ]
    },
    {
        "id": "cfece79b887ca64f",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Hostname",
        "label": "Hostname",
        "format": "{{msg.payload.hostname}}",
        "layout": "col-center",
        "className": "",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "04f56fab1740f3f7",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "SSID",
        "label": "Connected to SSID",
        "format": "{{msg.payload.ssid}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 720,
        "wires": []
    },
    {
        "id": "70805cf47035597b",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "RSSI",
        "label": "WiFi Signal RSSI",
        "format": "{{msg.payload.rssi}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 760,
        "wires": []
    },
    {
        "id": "7aeeaeb251c8c950",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ip",
        "label": "IP Address",
        "format": "{{msg.payload.ip}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 800,
        "wires": []
    },
    {
        "id": "97119f137adb74e7",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "payload.sensor_temp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temparatur",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "d237f3cad71b27a5",
                "7f52d610ca9391bd"
            ]
        ]
    },
    {
        "id": "52bdc5fe8a1490a2",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "payload.sensor_humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luftfeuchtigkeit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "07f158e0a101d638",
                "78ea5122d9cd1a2e"
            ]
        ]
    },
    {
        "id": "f87ae8c768f1f59f",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "payload.sensor_gas",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luftqualität",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "1339f35912afc8c1",
                "031a8994845bcabc"
            ]
        ]
    },
    {
        "id": "9b6b6e7fbe2313a3",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Heap fragmentation (%)",
        "label": "",
        "format": "{{value}}%",
        "layout": "row-center",
        "className": "",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "f09a8a8894613abe",
        "type": "ui_chart",
        "z": "343d439a7b165976",
        "name": "Heap fragmentation (%)",
        "group": "2cd69bd3f5fe48ec",
        "order": 6,
        "width": "6",
        "height": "3",
        "label": "Heap fragmentation (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "100",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3523e81d4933a221",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "msg.payload.esp_heap_fragmentation",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "9b6b6e7fbe2313a3",
                "f09a8a8894613abe"
            ]
        ]
    },
    {
        "id": "51fe21c917170492",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "move",
                "p": "msg.payload.esp_free_heap",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 540,
        "wires": [
            [
                "e5ada84adad67649",
                "b964291aa9d7f125"
            ]
        ]
    },
    {
        "id": "e5ada84adad67649",
        "type": "ui_chart",
        "z": "343d439a7b165976",
        "name": "Free Heap (KByte)",
        "group": "2cd69bd3f5fe48ec",
        "order": 8,
        "width": "6",
        "height": "3",
        "label": "Free Heap (KByte)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "100",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b964291aa9d7f125",
        "type": "ui_text",
        "z": "343d439a7b165976",
        "group": "2cd69bd3f5fe48ec",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Free Heap (KByte)",
        "label": "",
        "format": "{{value}} KByte",
        "layout": "row-center",
        "className": "",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "3b02f206d3432dbb",
        "type": "mysql",
        "z": "343d439a7b165976",
        "mydb": "fa9ebf0b8460f903",
        "name": "inser into mysql db",
        "x": 770,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd5ccb3a65b0547",
        "type": "function",
        "z": "343d439a7b165976",
        "name": "compose SQL insert",
        "func": "var data=msg.payload; //get payload\nlet query='INSERT INTO messwerte (temp, humidity, gas, presure) VALUES (' + data.sensor_temp + ',' + data.sensor_humidity + ',' + data.sensor_gas + ',' + data.sensor_presure + ');';\nmsg.topic=query;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "3b02f206d3432dbb"
            ]
        ]
    },
    {
        "id": "91638b296e22e39c",
        "type": "mysql",
        "z": "343d439a7b165976",
        "mydb": "fa9ebf0b8460f903",
        "name": "mysql select messwerte",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "a25d1691f9c712df",
                "6f0e805485a4e1c7",
                "a5ef9b7d4b5072dd"
            ]
        ]
    },
    {
        "id": "8a7bd86d8a8699d0",
        "type": "inject",
        "z": "343d439a7b165976",
        "name": "compose select query",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "7",
        "topic": "SELECT * FROM messwerte;",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "91638b296e22e39c"
            ]
        ]
    },
    {
        "id": "efc6bf7807751021",
        "type": "split",
        "z": "343d439a7b165976",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 420,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "a25d1691f9c712df",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t    \"series\": [\"Temparatur\"],\t    \"labels\": [\"Temparatur\"],\t    \"data\": [[payload.{\t        \"x\": timedate,\t        \"y\": temp\t    }]]\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "7f52d610ca9391bd"
            ]
        ]
    },
    {
        "id": "a5ef9b7d4b5072dd",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t    \"series\": [\"Luftfeuchtigkeit\"],\t    \"labels\": [\"Luftfeuchtigkeit\"],\t    \"data\": [[payload.{\t        \"x\": timedate,\t        \"y\": humidity\t    }]]\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "78ea5122d9cd1a2e"
            ]
        ]
    },
    {
        "id": "6f0e805485a4e1c7",
        "type": "change",
        "z": "343d439a7b165976",
        "name": "compose",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t    \"series\": [\"Luftqualität\"],\t    \"labels\": [\"Luftqualität\"],\t    \"data\": [[payload.{\t        \"x\": timedate,\t        \"y\": gas\t    }]]\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "1339f35912afc8c1"
            ]
        ]
    },
    {
        "id": "3fdf55e415e186c5",
        "type": "ui_colour_picker",
        "z": "08164534147a4b42",
        "name": "",
        "label": "Farbe",
        "group": "a4c6a77ab0800365",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "rgb",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "46c6b5394e96a15a"
            ]
        ]
    },
    {
        "id": "46c6b5394e96a15a",
        "type": "mqtt out",
        "z": "08164534147a4b42",
        "name": "LED_Color",
        "topic": "rgb",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "748c8b0a69c1a330",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "721e09d22e27919c",
        "type": "ui_switch",
        "z": "08164534147a4b42",
        "name": "",
        "label": "Ein / Aus",
        "tooltip": "",
        "group": "a4c6a77ab0800365",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "f4bde5af22569acd"
            ]
        ]
    },
    {
        "id": "f4bde5af22569acd",
        "type": "mqtt out",
        "z": "08164534147a4b42",
        "name": "LED_Switch",
        "topic": "switch",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "748c8b0a69c1a330",
        "x": 620,
        "y": 240,
        "wires": []
    }
]